In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv', sep = '\t')

# 각 문제는 칸마다 5개씩 끊기!
# 1. 데이터 로드
# print(type(df))

# 2. 데이터 상위 5개 출력
print(df.head(5))

# 3. 데이터의 행과 열의 갯수
print(df.shape) # (51490, 61) 행은 51000 / 컬럼은 61개

# 4. 전체 컬럼 출력
print(df.columns)

# 5. 6번째 컬럼명 출력
print(df.columns[5])

       gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0  3326086514  1504279457970          1949         9       1           2
1  3229566029  1497848803862          1851         9       1           1
2  3327363504  1504360103310          1493         9       1           2
3  3326856598  1504348503996          1758         9       1           1
4  3330080762  1504554410899          2094         9       1           2

   firstTower  firstInhibitor  firstBaron  firstDragon  ...  t2_towerKills  \
0           1               1           1            1  ...              5
1           1               1           0            1  ...              2
2           1               1           1            2  ...              2
3           1               1           1            1  ...              0
4           1               1           1            1  ...              3

   t2_inhibitorKills  t2_baronKills  t2_dragonKills  t2_riftHeraldKills  \
0                  0              0               1                   1
1                  0              0               0                   0
2                  0              0               1                   0
3                  0              0               0                   0
4                  0              0               1                   0

   t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0      114       67       43       16       51
1       11       67      238       51      420
2      157      238      121       57       28
3      164       18      141       40       51
4       86       11      201      122       18

[5 rows x 61 columns]
(51490, 61)
Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')
firstBlood

In [ ]:
# 6. 6번째 컬럼의 데이터 타입 확인
df.iloc[:, 5].dtype

# 7. 데이터셋의 인덱스 구성
print(df.index)

# 8. 6번째 컬럼의 세번째 데이터
print(df.iloc[2, 5])

# 9. 한글 데이터 로드

DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding = 'euc-kr')
print(df)

# 10. 데이터 마지막 3개 행을 출력
print(df.tail(3))

RangeIndex(start=0, stop=9621, step=1)
96920.834
         id          일자   시도명  읍면동명         거주인구       근무인구        방문인구  \
0     22448  2018-01-01   제주시   도두동    32249.987   3418.266  102709.092
1     22449  2018-01-01   제주시   외도동   213500.997  10341.172  112692.789
2     22450  2018-01-01   제주시  이도2동  1212382.218  96920.834  541194.481
3     22451  2018-01-01   제주시  일도1동    33991.653   6034.253   72155.919
4     22452  2018-01-01  서귀포시   대천동   155036.925   9403.969  150882.409
...     ...         ...   ...   ...          ...        ...         ...
9616  32064  2020-04-30  서귀포시   표선면   228260.005  16891.732  152832.449
9617  32065  2020-04-30   제주시   한림읍   459959.064  26007.122  249700.419
9618  32066  2020-04-30   제주시   도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시   안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시    연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
0      138377.345  39.556    29.167    5.0   0.0   2.50
1      336534.958  32.900    30.900    5.0   0.0   2.50
2     1850497.533  29.538    35.692    2.9   0.0   2.40
3      112181.825  30.000    23.500    2.9   0.0   2.40
4      315323.303  41.583    14.375    5.1   0.0   2.30
...           ...     ...       ...    ...   ...    ...
9616   397984.186  44.514    34.054   18.1   0.0   4.70
9617   735666.605  48.609    61.377   18.0   0.0   4.35
9618   115595.073  41.053    29.421   20.3   0.0   3.00
9619   628273.792  46.595    49.189   17.6   0.0   3.50
9620  1523938.917  40.863    27.765   14.1   0.0   4.80

[9621 rows x 13 columns]
         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구  \
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8
Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [ ]:
# 11. 수치형 변수를 가진 컬럼 출력
cols = df.select_dtypes(exclude = 'object').columns
print(cols)

# 12. 범주형 변수를 가진 컬럼 출력
cols2 = df.select_dtypes(include = 'object').columns
print(cols2)

# 13. 각 컬럼의 결측치 숫자
print(df.isnull().sum()) # 결측치 없음.

# 14. 각 컬럼의 데이터수, 데이터타입을 한번에 확인
print(df.info())

# 15. 각 수치형 변수의 분포를 확인
print(df.describe())

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')
Index(['일자', '시도명', '읍면동명'], dtype='object')
id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB
None
                 id          거주인구           근무인구           방문인구        총 유동인구  \
count   9621.000000  9.621000e+03    9621.000000    9621.000000  9.621000e+03
mean   27258.000000  3.174315e+05   35471.201510  195889.561802  5.487922e+05
std     2777.487804  2.982079e+05   40381.214775  140706.090325  4.608802e+05
min    22448.000000  9.305552e+03    1407.936000   11538.322000  2.225181e+04
25%    24853.000000  9.539939e+04   12074.498000   99632.153000  2.216910e+05
50%    27258.000000  2.221105e+05   21960.928000  152805.335000  3.866935e+05
75%    29663.000000  4.106671e+05   40192.032000  236325.109000  6.406918e+05
max    32068.000000  1.364504e+06  263476.965000  723459.209000  2.066484e+06

             평균 속도     평균 소요 시간        평균 기온         일강수량        평균 풍속
count  9621.000000  9621.000000  9621.000000  9621.000000  9621.000000
mean     41.109084    37.215873    13.550828     6.972426     2.753171
std       8.758631    12.993786     7.745515    27.617260     1.498538
min      24.333000    12.667000    -9.600000     0.000000     0.000000
25%      34.250000    27.889000     7.600000     0.000000     1.700000
50%      39.640000    34.500000    13.400000     0.000000     2.400000
75%      49.105000    46.176000    19.700000     1.500000     3.400000
max     103.000000   172.200000    30.400000   587.500000    13.333000

In [ ]:
# 16. 거주인구 컬럼의 값들을 출력
print(df['거주인구'])

# 17. 평균 속도 컬럼의 4분위 범위를 구하기
q1 = df['평균 속도'].quantile(0.25)
q3 = df['평균 속도'].quantile(0.75)

IQR = q3 - q1
print(IQR) #14.854999999....

# 18. 읍면동명 컬럼의 유일값 갯수
print(df['읍면동명'].nunique()) # 41

# 19. 읍면동명 컬럼의 유일값을 출력
print(df['읍면동명'].unique())

# 20. 식당데이터 로드

DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'

df = pd.read_csv(DataUrl)
print(df.head())

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64
14.854999999999997
41
['도두동' '외도동' '이도2동' '일도1동' '대천동' '서홍동' '한경면' '송산동' '조천읍' '일도2동' '영천동'
 '예래동' '대륜동' '삼도1동' '이호동' '건입동' '중앙동' '삼양동' '삼도2동' '이도1동' '남원읍' '대정읍'
 '정방동' '효돈동' '아라동' '한림읍' '구좌읍' '용담1동' '오라동' '화북동' '연동' '표선면' '중문동' '성산읍'
 '안덕면' '천지동' '노형동' '동홍동' '용담2동' '봉개동' '애월읍']
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [1]:
import pandas as pd
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)

# 21. quantity 컬럼 값이 3인 데이터 5행 출력
cond = df['quantity'] == 3
print(df[cond].head(5))

# 22. 컬럼 값이 3인 데이터 추출, index 정렬하고 첫 5행 출력
print(df[cond].reset_index(drop = True).head(5))

# 23. quantity, item_price로 구성된 새로운 데이터 프레임 정의
new_data = pd.concat([df['quantity'], df['item_price']], axis = 1)
print(new_data)

new_data2 = df[['quantity', 'item_price']]
print(new_data2)

# 24. item_price 컬럼의 달러표시 문자 제거. float타입으로 저장하여 new_price에 대입
df['new_price'] = df['item_price'].str.replace('$', '').astype('float')
print(df['new_price'])

# 25. new_price 컬럼이 5 이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수 구하기
cond = df['new_price'] <= 5
print(df[cond])
print('전체 갯수:',  len(df[cond]))

     order_id  quantity          item_name  \
409       178         3       Chicken Bowl
445       193         3               Bowl
689       284         3  Canned Soft Drink
818       338         3      Bottled Water
850       350         3  Canned Soft Drink

                                    choice_description item_price
409  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
689                                        [Diet Coke]     $3.75
818                                                NaN     $3.27
850                                           [Sprite]     $3.75
   order_id  quantity          item_name  \
0       178         3       Chicken Bowl
1       193         3               Bowl
2       284         3  Canned Soft Drink
3       338         3      Bottled Water
4       350         3  Canned Soft Drink

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
1  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
2                                        [Diet Coke]     $3.75
3                                                NaN     $3.27
4                                           [Sprite]     $3.75
      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]
      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]
0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: new_price, Length: 4622, dtype: float64
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
...        ...       ...                                    ...
4606      1828         1                      Canned Soft Drink
4609      1829         1                      Canned Soft Drink
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4616      1832         1                    Chips and Guacamole

     choice_description item_price  new_price
0                   NaN     $2.39        2.39
1          [Clementine]     $3.39        3.39
2               [Apple]     $3.39        3.39
3                   NaN     $2.39        2.39
6                   NaN     $1.69        1.69
...                 ...        ...        ...
4606             [Coke]     $1.25        1.25
4609           [Sprite]     $1.25        1.25
4613                NaN     $2.15        2.15
4614                NaN     $1.50        1.50
4616                NaN     $4.45        4.45

[1652 rows x 6 columns]
전체 갯수: 1652

In [ ]:
# 26. item_name 명이 Chicken Salad Bowl인 데이터 프레임을 추출하고, index값 초기화.
cond1 = df['item_name'] == 'Chicken Salad Bowl'
#print(df[cond1].reset_index(drop=True).head())

# 27. new_price 값이 9 이하이고, item_name 값이 Chicken Salad Bowl인 데이터 프레임 추출
cond2 = df['new_price'] <= 9
cond3 = df['item_name'] == 'Chicken Salad Bowl'

#print(df[cond2 & cond3].head())

# 28. df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화.
print(df['new_price'].sort_values(ascending = True).reset_index(drop=True))

# 29. df의 item_name 컬럼 값 중 Chips를 포함하는 경우의 데이터 출력
cond4 = df['item_name'].str.contains('Chips')
print(df[cond4])
#contains 자주 까먹는데, 잊어버리지 말것!

# 30. df의 짝수번째 컬럼만을 포함하는 데이터프레임 출력
print(df.iloc[:,::2].head())

0        1.09
1        1.09
2        1.09
3        1.09
4        1.09
        ...
4617    33.75
4618    35.00
4619    35.00
4620    35.25
4621    44.25
Name: new_price, Length: 4622, dtype: float64
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
10           5         1                    Chips and Guacamole
14           7         1                    Chips and Guacamole
...        ...       ...                                    ...
4596      1826         1                    Chips and Guacamole
4600      1827         1                    Chips and Guacamole
4605      1828         1                    Chips and Guacamole
4613      1831         1                                  Chips
4616      1832         1                    Chips and Guacamole

     choice_description item_price  new_price
0                   NaN     $2.39        2.39
3                   NaN     $2.39        2.39
6                   NaN     $1.69        1.69
10                  NaN     $4.45        4.45
14                  NaN     $4.45        4.45
...                 ...        ...        ...
4596                NaN     $4.45        4.45
4600                NaN     $4.45        4.45
4605                NaN     $4.45        4.45
4613                NaN     $2.15        2.15
4616                NaN     $4.45        4.45

[1084 rows x 6 columns]
   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98

In [11]:
# 31. df의 new_price 값에 따라 내림차순 정렬 / index 초기화
print(df['new_price'].sort_values(ascending = False).reset_index(drop=True))

# 32. df의 item_name 칼럼이 Steak Salad 또는 Bowl인 데이터 인덱싱

cond1 = df['item_name'] == 'Steak Salad'
cond2 = df['item_name'] == 'Bowl'
print(df[cond1 | cond2].reset_index(drop=True))

# 33. 위 데이터를 데이터프레임화하고, item_name을 기준으로 중복행이 있으면 제거
new_data = df[cond1 | cond2]
print(new_data.drop_duplicates('item_name'))
# drop_duplicates로 중복행 제거가 가능.

# 34. 위 데이터 중 마지막 케이스만 남기기
print((df.drop_duplicates('item_name', keep = 'last')))

# 35. df의 데이터 중 new_price값이 평균값 이상
cond3 = df['new_price'] >= df['new_price'].mean()
print(df['new_price'].mean())
print(df[cond3])

0       44.25
1       35.25
2       35.00
3       35.00
4       33.75
        ...
4617     1.09
4618     1.09
4619     1.09
4620     1.09
4621     1.09
Name: new_price, Length: 4622, dtype: float64
   order_id  quantity    item_name  \
0       193         3         Bowl
1       276         1  Steak Salad
2       279         1         Bowl
3       311         1  Steak Salad
4       369         1  Steak Salad
5      1406         1  Steak Salad

                                  choice_description item_price  new_price
0  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
1  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
2  [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
3  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
4  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...     $8.99        8.99
5                        [[Lettuce, Fajita Veggies]]     $8.69        8.69
     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
      order_id  quantity                              item_name  \
521        217         1                           Crispy Tacos
673        279         1                                   Bowl
674        279         1      Chips and Mild Fresh Tomato Salsa
760        313         1                                Burrito
1415       575         1                                  Salad
1653       668         1                    Veggie Crispy Tacos
3321      1330         1                  Barbacoa Crispy Tacos
3502      1406         1                            Steak Salad
3669      1468         1                                   Izze
3750      1500         1                         Carnitas Salad
3780      1513         1     Chips and Roasted Chili Corn Salsa
3889      1559         2                      Veggie Soft Tacos
3905      1565         1     Chips and Roasted Chili-Corn Salsa
3989      1598         1                          Chicken Salad
4007      1604         1  Chips and Tomatillo-Green Chili Salsa
4051      1621         1                            Canned Soda
4070      1629         1                          Side of Chips
4078      1632         1                       Nantucket Nectar
4084      1635         1                           Veggie Salad
4088      1637         1    Chips and Tomatillo-Red Chili Salsa
4239      1692         1                    Carnitas Salad Bowl
4271      1703         1                    Barbacoa Soft Tacos
4390      1751         1                    Barbacoa Salad Bowl
4450      1774         1                  Carnitas Crispy Tacos
4453      1775         1                   Chicken Crispy Tacos
4466      1779         1    Chips and Tomatillo Red Chili Salsa
4468      1780         1                            Veggie Bowl
4493      1787         1  Chips and Tomatillo Green Chili Salsa
4503      1790         1           Chips and Fresh Tomato Salsa
4518      1796         1                             Steak Bowl
4535      1803         1                      6 Pack Soft Drink
4549      1808         1                       Steak Soft Tacos
4554      1810         1                     Steak Crispy Tacos
4557      1811         1                    Carnitas Soft Tacos
4569      1817         1                        Chicken Burrito
4572      1818         1                       Steak Salad Bowl
4573      1818         1                      Veggie Salad Bowl
4578      1821         1                       Carnitas Burrito
4594      1825         1                          Barbacoa Bowl
4603      1827         1                       Barbacoa Burrito
4604      1828         1                           Chicken Bowl
4609      1829         1                      Canned Soft Drink
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4618      1833         1                          Steak Burrito
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
521               [Adobo-Marinated and Grilled Chicken]     $7.40        7.40
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
674                                                 NaN     $3.00        3.00
760   [White Rice, Adobo-Marinated and Grilled Steak...     $7.40        7.40
1415  [White Rice, Adobo-Marinated and Grilled Chick...     $7.40        7.40
1653  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49        8.49
3321  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99        8.99
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69
3669                                       [Blackberry]     $3.39        3.39
3750  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.99        8.99
3780                                                NaN     $2.95        2.95
3889  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...    $16.98       16.98
3905                                                NaN     $2.39        2.39
3989  [Roasted Chili Corn (Medium), [Lettuce, Black ...     $8.19        8.19
4007                                                NaN     $2.39        2.39
4051                                           [Sprite]     $1.09        1.09
4070                                                NaN     $1.69        1.69
4078                                     [Peach Orange]     $3.39        3.39
4084  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49        8.49
4088                                                NaN     $2.39        2.39
4239  [Tomatillo Green Chili Salsa, [Black Beans, Ch...    $11.89       11.89
4271  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.25        9.25
4390  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $9.39        9.39
4450  [Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...     $9.25        9.25
4453  [Tomatillo Red Chili Salsa, [Black Beans, Chee...     $8.75        8.75
4466                                                NaN     $2.95        2.95
4468  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25       11.25
4493                                                NaN     $2.95        2.95
4503                                                NaN     $2.95        2.95
4518  [Tomatillo Red Chili Salsa, [Rice, Black Beans...    $11.75       11.75
4535                                         [Lemonade]     $6.49        6.49
4549  [Tomatillo Green Chili Salsa, [Rice, Pinto Bea...     $9.25        9.25
4554  [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75       11.75
4557  [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $9.25        9.25
4569    [Fresh Tomato Salsa, [Fajita Vegetables, Rice]]     $8.75        8.75
4572  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $9.39        9.39
4573  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
4578  [Tomatillo Green Chili Salsa, [Rice, Pinto Bea...     $9.25        9.25
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75       11.75
4603                      [Tomatillo Green Chili Salsa]     $9.25        9.25
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4609                                           [Sprite]     $1.25        1.25
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25        9.25
4613                                                NaN     $2.15        2.15
4614                                                NaN     $1.50        1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75        8.75
4616                                                NaN     $4.45        4.45
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
7.464335785374297
      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
8            4         1    Steak Soft Tacos
9            5         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[2890 rows x 6 columns]

In [26]:
# 36. df 데이터 중 item_name의 값이 lzze 데이터를 Fizzy Lizzy로 수정

df['item_name'] = df['item_name'].str.replace('Izze', 'Fizzy Lizzy')
print(df['item_name'].head(20))
#str.replace 사용시 대입 주의!

# 37. df 데이터 중 choice_description 값이 Nan인 데이터의 갯수
print(df['choice_description'].isnull().sum())

# 38. df의 데이터 중 choice_description 값을 NoData 값으로 대체
df['choice_description'] = df['choice_description'].fillna('NoData')
print(df['choice_description'])

# 39. df의 데이터 중 choice_description 값에 Black이 들어가는 경우 인덱싱
cond1 = df['choice_description'].str.contains('Black')
print(df[cond1])

# 40. df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수
cond2 = df['choice_description'].str.contains('Vegetables')
print(df[~cond2])

0              Chips and Fresh Tomato Salsa
1                               Fizzy Lizzy
2                          Nantucket Nectar
3     Chips and Tomatillo-Green Chili Salsa
4                              Chicken Bowl
5                              Chicken Bowl
6                             Side of Chips
7                             Steak Burrito
8                          Steak Soft Tacos
9                             Steak Burrito
10                      Chips and Guacamole
11                     Chicken Crispy Tacos
12                       Chicken Soft Tacos
13                             Chicken Bowl
14                      Chips and Guacamole
15    Chips and Tomatillo-Green Chili Salsa
16                          Chicken Burrito
17                          Chicken Burrito
18                              Canned Soda
19                             Chicken Bowl
Name: item_name, dtype: object
0
0                                                  NoData
1                                            [Clementine]
2                                                 [Apple]
3                                                  NoData
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object
      order_id  quantity             item_name  \
4            2         2          Chicken Bowl
7            4         1         Steak Burrito
9            5         1         Steak Burrito
11           6         1  Chicken Crispy Tacos
12           6         1    Chicken Soft Tacos
...        ...       ...                   ...
4604      1828         1          Chicken Bowl
4608      1829         1        Veggie Burrito
4611      1830         1        Veggie Burrito
4612      1831         1         Carnitas Bowl
4617      1833         1         Steak Burrito

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75        8.75
...                                                 ...        ...        ...
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25       11.25
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25        9.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75

[1353 rows x 6 columns]
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                            Fizzy Lizzy
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4614                                             NoData     $1.50        1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75        8.75
4616                                             NoData     $4.45        4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75

[3900 rows x 6 columns]

In [58]:
# 41. df의 데이터 중 item_name 값이 N으로 시작하는 데이터 추출
#cond1 = df['item_name'].str[0] == 'N'
#cond2 = df['item_name'].str.startswith('N')
#print(df[cond2])

# 42. df의 데이터 중 item_name 값의 단어 갯수가 15개 이상인 데이터를 인덱싱
#cond3 = (df['item_name'].str.len()) >= 15
#print(df[cond3])

# 43. df 데이터 중 new_price 값이 lst에 해당하는 경우의 데이터 프레임을 구하고 갯수 출력
#lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
#cond4 = df['new_price'].isin(lst)
#print(df[cond4])

# 44. 새 데이터를 로드하고 상위 5개 컬럼 출력
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')
#print(df.head())
#print(df['host_name'].nunique())

# 45. 데이터의 host_name의 빈도수를 구하고, host_name으로 정렬
dfGroup = df.groupby('host_name').size()
print(dfGroup.head())

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
dtype: int64

In [75]:
# 46. 데이터의 각 host_name의 빈도수 출력 / 빈도수 기준 내림차순 정렬 *** 초어려움!!!!
dfGroup2 = df.groupby('host_name').size().to_frame().rename(columns={0:'counts'}).sort_values('counts', ascending = False)
print(dfGroup2)

# 47. neighbourhood_group의 값에 따른 neighbourhood 컬럼 값의 갯수를 구하여라
print(df.groupby(['neighbourhood_group', 'neighbourhood']).size())

# 48. neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 neighbourhood_group 그룹의 최댓값
print(df.groupby(['neighbourhood_group', 'neighbourhood']).size().groupby(['neighbourhood_group']).max())

# 49. neighbourhood_group값에 따른 price값의 평균, 분산, 최대, 최소값 구하기
print(df[['neighbourhood_group', 'price']].groupby('neighbourhood_group').describe())

print(df[['neighbourhood_group', 'reviews_per_month']].groupby('neighbourhood_group').describe())

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279
...              ...
Jerbean            1
Jerald             1
Jeonghoon          1
Jeny               1
현선                 1

[11452 rows x 1 columns]
neighbourhood_group  neighbourhood
Bronx                Allerton         42
                     Baychester        7
                     Belmont          24
                     Bronxdale        19
                     Castle Hill       9
                                      ..
Staten Island        Tottenville       7
                     West Brighton    18
                     Westerleigh       2
                     Willowbrook       1
                     Woodrow           1
Length: 221, dtype: int64
neighbourhood_group
Bronx              70
Brooklyn         3920
Manhattan        2658
Queens            900
Staten Island      48
dtype: int64
                       price                                             \
                       count        mean         std   min   25%    50%
neighbourhood_group
Bronx                 1091.0   87.496792  106.709349   0.0  45.0   65.0
Brooklyn             20104.0  124.383207  186.873538   0.0  60.0   90.0
Manhattan            21661.0  196.875814  291.383183   0.0  95.0  150.0
Queens                5666.0   99.517649  167.102155  10.0  50.0   75.0
Staten Island          373.0  114.812332  277.620403  13.0  50.0   75.0


                       75%      max
neighbourhood_group
Bronx                 99.0   2500.0
Brooklyn             150.0  10000.0
Manhattan            220.0  10000.0
Queens               110.0  10000.0
Staten Island        110.0   5000.0
                    reviews_per_month                                          \
                                count      mean       std   min     25%   50%
neighbourhood_group
Bronx                           876.0  1.837831  1.673284  0.02  0.4800  1.38
Brooklyn                      16447.0  1.283212  1.516259  0.01  0.1800  0.66
Manhattan                     16632.0  1.272131  1.628252  0.01  0.1700  0.61
Queens                         4574.0  1.941200  2.213108  0.01  0.3700  1.21
Staten Island                   314.0  1.872580  1.685495  0.02  0.7025  1.41


                       75%    max
neighbourhood_group
Bronx                2.790  10.34
Brooklyn             1.980  14.00
Manhattan            1.890  58.50
Queens               2.790  20.94
Staten Island        2.615  10.12